.order {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    padding: 5px;
    align-items: center;
}

.orderTitle {
    margin-left: 10px;
}

.ordered {
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
    margin-left: auto;
}

.delete {
    margin-left: 80px;
    background-color: #2b2b2b;
    border: none;
    cursor: pointer;
}